.collection-page h2 {
    font-size: 30px;
    text-align: center;
}

.collection-page ul {
    list-style: none;
    margin-right: 29px;
}

#add-artist-button {
    display: block;
    margin: auto;
    width: 200px;
    height: 60px;
    font-size: 18px;
}

.collection-page {
    margin-bottom: 70px;
}

.add-artist-link {
    text-decoration: none;
}

/* Responsive design for desktop */
@media all and (min-width: 800px) {
    .collection-page {
        margin: 20px 100px 70px 100px;
    }

    .collection-page h2 {
        font-size: 40px;
    }
}