.artist {
    background-color: #DB4D60;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}

.artist h3 {
    font-size: 27px;
}

.artist-link {
    text-decoration: none;
    color: #060f13;
}

#edit-artist {
    width: 56px;
}

/* Responsive design for desktop */
@media all and (min-width: 800px) {
    .artist h3 {
        font-size: 32px;
    }
}